<div class="contact">
  <p> If you would like to schedule a consultation or meeting with Green Room Construction, please fill out the following forms: </p>
</div>

<div class="information">
  <form>
  	First Name:<br>
  	<input type="text" name="firstname"><br>
  	Last Name:<br>
  	<input type="text" name="lastname"><br>
  	Email:<br>
  	<input type="text" name="emailaddress"><br>
    Phone Number:<br>
    <input type="text" name="phonenumber"><br>
  	Message:<br>
  	<textarea name="message" rows="30" cols="75"></textarea><br>
  	<input type="submit" value="Submit">
  </form>
</div>
