<div class="contact">
  <br>
  <p> If you would like to schedule a consultation with Green Room Construction, please fill out the following forms: </p> 
</div>
<div class="information">
  <form #emailMessage="ngForm" (ngSubmit)="onSubmit(emailMessage)" novalidate>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>First Name</label>
        <input [(ngModel)]="emailMessage.firstName" [ngModelOptions]="{standalone: true}" name="firstName" type="text" class="form-control"  placeholder="First Name" >
      </div>
      
      <div class="form-group col-md-6">
        <label>Last Name</label>
        <input [(ngModel)]="emailMessage.lastName" [ngModelOptions]="{standalone: true}" name="lastName" type="text" class="form-control"  placeholder="LastName" >
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Email</label>
        <input [(ngModel)]="emailMessage.email" [ngModelOptions]="{standalone: true}" name="email" type="email" class="form-control"  placeholder="Email" >
      </div>
      
      <div class="form-group col-md-4">
        <label>Phone Number</label>
        <input [(ngModel)]="emailMessage.phoneNumber" [ngModelOptions]="{standalone: true}" name="phoneNumber" type="text" class="form-control"  placeholder="Phone Number" >
      </div>
    </div>
    
    <div class="form-group">
      <label>Message</label>
      <textarea [(ngModel)]="emailMessage.message" [ngModelOptions]="{standalone: true}" name="message" class="form-control"  rows="10" ></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>

  </form>
</div>


