<div class="contact">
  <p> If you would like to schedule a consultation or meeting with Green Room Construction, please fill out the following forms: </p>
</div>

<div class="information">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName">First Name</label>
        <input type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" placeholder="LastName">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPhoneNumber">Phone Number</label>
        <input type="tel" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
      </div>
    </div>
    <div class="form-group">
      <label for="inputMessage">Message</label>
      <textarea class="form-control" id="inputMessage" rows="10"></textarea>
    </div>
  </form>
</div>