<!-- IDEA: Create row, divide into 3 columns, middle column will be colored a lighter shade.
     Only meant to be viewable below the slideshow -->

<br>
<br>
<div class="container">
	<div class="row justify-content-mdcenter">
		<div class="col-4">
			<img src="../../assets/images/Patio.jpg">
		</div>
		<div class="col-8">
			<h3>Kitchen Remodel</h3>
			<p>  </p>
		</div>
	</div>
	<br>
	<br>
	<div class="row justify-content-mdcenter">
		<div class="col-8">
			<h3>Bathroom Remodel</h3>
			<p></p>
		</div>
		<div class="col-4">
			<img src="../../assets/images/Shower.jpg">
		</div>
	</div>
	<br>
	<br>
	<div class="row justify-content-mdcenter">
		<div class="col-4">
			<img src="../../assets/images/Patio.jpg">
		</div>
		<div class="col-8">
			<h3>Backyard Construction</h3>
			<p></p>
	    </div>
	</div>
</div>


