<!-- IDEA: Create row, divide into 3 columns, middle column will be colored a lighter shade.
     Only meant to be viewable below the slideshow -->

<br>
<h1>Green Room Construction</h1>
<br>
<div class="container">
	
	<div class="row justify-content-mdcenter">
		<div class="col-3">
			<img src="../../assets/images/Patio.jpg">
		</div>
		<div class="col-8">
			<br>
			<h3><u>Kitchen Remodel</u></h3>
			<br>
			<p>Whether you're just looking to update your countertops, or if you're thinking about remodeling your whole kitchen, Green Room Construction will deliver you a finished product that is set to satisfy.</p>
		</div>
		<div class="col-1">
		</div>
	</div>
	<br>
	<br>
	<div class="row justify-content-mdcenter">
		<div class="col-1">
		</div>
		<div class="col-8">
			<br>
			<h3><u>Bathroom Remodel</u></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec ex semper, rhoncus quam id, vehicula arcu. Nunc ac efficitur mi. Nulla in eros pulvinar, pretium mi pulvinar, venenatis magna. Duis pulvinar in nisl ac lobortis. Sed eros velit, tempor id luctus sit amet, tincidunt sit amet ligula. </p>
		</div>
		<div class="col-3">
			<img src="../../assets/images/Shower.jpg">
		</div>
	</div>
	<br>
	<br>
	<div class="row justify-content-mdcenter">
		<div class="col-3">
			<img src="../../assets/images/Patio.jpg">
		</div>
		<div class="col-8">
			<br>
			<h3><u>Backyard Construction</u></h3>
			<p>Fusce tincidunt sem in eros aliquet, eu mattis mauris tempor. Curabitur at dignissim lacus. Curabitur vitae neque convallis, dignissim massa vitae, gravida sem. Integer consectetur pharetra sodales. Sed semper neque odio, vitae bibendum quam rhoncus vel. Aliquam mollis ante sit amet velit varius ornare. Vivamus faucibus lorem mauris, id maximus orci elementum congue.</p>
	    </div>
	    <div class="col-1">
		</div>
	</div>
	<br>
	<br>
</div>


